h1#section{
    text-align: center;
    font-size: 3em;
}
h2{
    text-align: center;
}

span#section {
    font-size: 3em;
}
td{width:33%;
   vertical-align: top;
   border-top: 5px solid black;
   border-bottom: 5px solid black;
   padding: 2em;
  }

td > p {margin: 0px;}

tr {
    background-color: white;
    font-size: 1.25em;
    font-family: Georgia, sans-serif;
    color: black;
    line-height: 1.5em;
    margin-bottom: 30px;
}

.focus{
  background-color: black;
  color: white;
}

.blue{
  color: blue;
}

.ind_section{
  width: 70%;
  min-height: 700px;
  float: left;
  margin-left: 2.5%;
    padding: 25px;

}
.ind_section > p {
  line-height: 1.5em;
  font-family: Helvetica;
  font-size: 1.2em;
}

.wordies{
position: fixed;
right:0;
  width: 20%;
  margin-right: 2.5%;

}

.wordies > div {


  border: 2px solid black;
  padding: .75em;
}
.wordies >div > ul {
  font-weight: bolder;
  padding-left: 0px;

} 
.wordies >div > ul > li {
  margin-bottom: 5px;
  font-family: Georgia;
  list-style-type: none;
}

.section-title{
  font-size: 2em;
  font-weight: bolder;
  margin: 1em;
}
.findlay{
  position: fixed;
  top: 5%;
  padding: 20px;
  background-color: white;
  border: 1px solid black;
  left:47%;
  min-height: 700px;
  font-size: 1.25em;
  max-width: 25%;
  float: left;
  display: none;
}

#help {
  display: none;
  position: fixed;
  top: 10px;
  background-color: black;
  color: white;
  font-size: 2em;
  border-radius: 20px;
  padding: 20px;
}

#todo {
  display: none;
  position: fixed;
  top: 10px;
  background-color: black;
  color: white;
  font-size: 1em;
  border-radius: 20px;
  padding: 20px;
}
#todo > ul > ol{
  margin-bottom: 1em;
}
.helpblurb{
  position: fixed; 
  bottom: 45px; 
  left: 0px;
  font-size: 1.5em;
  background-color: black;
  color: white;
  padding-right: 5px;
  padding-top:10px;
  padding-bottom:10px;
  border-bottom-right-radius:5px;
  border-top-right-radius: 5px;
}

.todoblurb{
  position: fixed; 
  bottom: 120px; 
  left: 0px;
  font-size: 1.5em;
  background-color: black;
  color: white;
  padding-right: 5px;
  padding-top:10px;
  padding-bottom:10px;
  border-bottom-right-radius:5px;
  border-top-right-radius: 5px;
}

.h1 > span {
  font-size: 1.5em;
  border: 1px solid black;
  padding: 5px;
}
.h3{
  margin-left:5%;
}
.h3 > span {
  border-bottom: 2px solid black;
  line-height: 1.2em;
  font-size: 1.5em;
}
.h4{
    font-size: 1.25em;
  margin-left:10%;
}
li.toc {
  font-size: 1em !important;
  margin-left: 5%;
  font-size: .8em;
  display: inline;
}