/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1#section{
    text-align: center;
    font-size: 3em;
}
h2{
    text-align: center;
}

span#section {
    font-size: 3em;
}
td{width:33%;
   vertical-align: top;
   border-top: 5px solid black;
   border-bottom: 5px solid black;
   padding: 2em;
  }

td > p {margin: 0px;}

tr {
    background-color: white;
    font-size: 1.25em;
    font-family: Georgia, sans-serif;
    color: black;
    line-height: 1.5em;
    margin-bottom: 30px;
}

.focus{
  background-color: black;
  color: white;
}

.blue{
  color: blue;
}

#nav {
  box-sizing: border-box;
  border-bottom: 1px solid black;
  display: inline-block;
  width: 100%;
  padding: 10px;
  background-color: grey;
}
h2.natural.heading{
  display: inline-block;
  text-align: left;
  font-size: 2em;
  float: left;
  margin-top: 0.2em;
  color: white;
}
h3.natural.heading{
  font-size: 1.5em;
  margin-top: .5em;
}
span.natural.section.number{
  font-size: 3em;
  float: left;
  display: inline-block;
}

.ind_section{
  width: 70%;
  max-width: 50vw;
  min-height: 700px;
  float: left;
  margin-left: 15.5%;
    padding: 25px;

}
.ind_section > p {
  line-height: 1.5em;
  font-family: Helvetica;
  font-size: 1.2em;
}

.wordies{
position: fixed;
right:0;
  width: 20%;
  margin-right: 2.5%;

}
.wordies > div {


  border: 2px solid black;
  padding: .75em;
}
.wordies >div > ul {
  font-weight: bolder;
  padding-left: 0px;

} 
.wordies >div > ul > li {
  margin-bottom: 5px;
  font-family: Georgia;
  list-style-type: none;
}
.toplink {
  display: inline-block;
  margin-right: 2em;
  font-size: 1.5em;
  text-decoration: none;
  font-weight: bolder;
  box-sizing:border-box;
  padding: 10px;
  background-color: grey;
  color: white;
  float: right;
}
.section-title{
  font-size: 2em;
  font-weight: bolder;
  margin: 1em;
}
.findlay{
  position: fixed;
  top: 5%;
  padding: 20px;
  background-color: white;
  border: 1px solid black;
  left:47%;
  min-height: 700px;
  font-size: 1.25em;
  max-width: 25%;
  float: left;
  display: none;
}

#help {
  display: none;
  position: fixed;
  top: 10px;
  background-color: black;
  color: white;
  font-size: 2em;
  border-radius: 20px;
  padding: 20px;
}

#todo {
  display: none;
  position: fixed;
  top: 10px;
  background-color: black;
  color: white;
  font-size: 1em;
  border-radius: 20px;
  padding: 20px;
}
#todo > ul > ol{
  margin-bottom: 1em;
}

.h1 > span {
  font-size: 1.5em;
  border: 1px solid black;
  padding: 5px;
}
.h3{
  margin-left:5%;
}
.h3 > span {
  border-bottom: 2px solid black;
  line-height: 1.2em;
  font-size: 1.5em;
}
.h4{
    font-size: 1.25em;
  margin-left:10%;
}

span.helpblurb , span.todoblurb{

  float: right
  font-size: 1.5em;
  display: inline-block;
  padding: 5px;
  border: 2px solid black;
}

li.toc {
  font-size: 1.25em;
  display: inline-block;
  border: 1px solid black;
  background-color: white;
  font-weight: bolder;
  padding-right: 1em;
  padding-left: 1em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  float: left;
}
section.chapter{
  margin-bottom: 5vh;
  border-radius: 50px;
  /*display: none; */
}
li.toc.chapter{
  float: none;
}
div.subchapter{
  position: relative;
  clear: left;
  padding-left: 20px;
}
ul.subsect{
  margin-left: 50vw;
  display: inline-block;

}

span.subchapter.title{
  display: inline-block;
  width: 50vw;
  font-size: 1.5em;
  color: black;
  z-index: 100;
    background-color: white;
}
div.entry{
  margin-bottom: 50px;

  text-align: center;
}


span.chapter.title {
  font-size: 1.75em;
  padding: 10px;
  margin-bottom: 5%;
  line-height:2em;
  background-color: white;
  margin-top: 5vh;
  margin-top: 2.5vh;
}

li.section.focus{
    color: white;
  background-color: black;
}
ul#toc_instructions > li {
  font-size: 1.2em;
  box-sizing: border-box;
  padding: .3em;
  display: inline-block;
  color: white;
  background-color: grey;
}
#toc {
  padding: 25px;
  font-family: 'Josefin Slab', serif;
  display: block;

}
#back{
  height: 100vh;
  width: 50vw;
  background-color: #CDCDC1;
  overflow: hidden;
  display: inline-block;
}
#back * {
  background-color: inherit;
}

span.word.current-word{
  border-bottom: 1px solid black;
}

#toc h1 , #toc h2 , #toc h3 , #toc h4{
  float: left;
  clear: both;
  text-align: left;
  font-weight: 700;
}
#toc h1 {
  font-size: 1.5em;
}
#toc h2{
  margin-left: 2em;  
  font-size: 1.4em;
}
#toc h3{
 margin-left: 4em; 
 font-size: 1.3em; 
}
#toc h4{
  font-size: 1.2em; 
  margin-left: 6em;
}

#toc ul.sections > li.section {
  color: red;
  display: inline-block;
  font-size: 1.1em;
  font-weight: 600;
  margin-left: 1em;
}

#toc ul.sections {
    clear: both;
    float: left;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 80%;
    height: auto;
}

#toc ul.sections:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
#toc ul.sections > li.section.focus {
  color: black;
  font-size: 1.35em;
}

section.first-chapter > ul {
  margin-left: 2em;
}
section.sub-chapter > ul {
  margin-left: 4em;
}
section.sub-sub-chapter > ul {
  margin-left: 6em;
}

section.sub-sub-sub-chapter > ul {
  margin-left: 8em;
}

section.part{
  display: none;
}

#text {
  float:right;
  width:48vw;
  height: 100vh;
  display: inline-block;
  padding: 20px;
  line-height: 1.7em;
  box-sizing: border-box;
}
#findlaytext{
  border: 1px solid black;
  box-sizing: border-box;
  height: 50%;
  padding: 20px;
  font-size: 1.2em;
  font-family: 'Vollkorn', serif;
  display: inline-block;
  height: auto;
  position: absolute;
  bottom: 5;
}
#findlaytext.full{
  width: 70vw;
}
#sectiontext {
  height: 50%;
  overflow: hidden;
}
#sectiontext > li {
  font-size: 1.2em;
  list-style-type: none;
  font-family: 'Vollkorn', serif;
}
#text.full {
  float: none;
  width: 70vw;
  margin-left: 15vw;
  margin-top: 10vh;
}
#sectiontext.half{
  float:right;
  height: 100vh;
}


.black{
  background-color: black;
}
#findlayanalysis {
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
  background-color: black;
  color: white;
  margin-bottom: 1em;
  display: inline-block;

}

div.wiki.natural{
  margin-top: 5vh;
  font-size: 1.1em;
  line-height: 1.2em;
}

