<!-- <p>Hello, (James or Eric),

Here's a demo. It's super buggy, but I'm working at it. 

<ul> In order to use this program: 

<li> Press 'e' to move to the next section </li>
<li>Press 'q' to move to the previous section  
(Throws errors if , larger than 110 or smaller than 90);</li>

<li>Press 'right arrow' to move to the next word.</li>
<li>Press 'left arrow' ... </li>

<li>Press 'w' to lookup the summary of the term on wikipedia.</li>
<li>Press 'a' to lookup some of the entries for the word on the Wordnet Database</li>
<li>Press 'x' to clear the selected word.</li>

<li>If you get a bug, press 'x' and then 'e' or 'q' to move to another section.</li>
</ul>
</p> -->
<!-- <span class = "section-title">{{section}}</span>
<input type= "text" ng-model="section">


<button ng-click="getit(section)">Get Section</button>

<button ng-click="wiki(wword)">Get Wiki</button>
<input type = "text" ng-model="wword">
<input type= "text" ng-model="wordy">
<button ng-click="wordget(wordy)">Get wordnet definition</button>
<br>
<br>
<hr>
<br> -->
<div ng-model="ind" class = "ind_section">
<p>
<span ng-repeat="item in ind track by $index">{{item}} </span>
</p>

</div>
<div class = "findlay" ng-model="find">{{find}}</div>


<div ng-model="wordy" class = "wordies">
  <div ng-repeat="word in wordy.info track by $index">
    <ul><span style = "font-variant: small-caps; font-size: 1.2em;">Sense: {{word.lemma}} </span>
      <li>Definition: {{word.def}} </li>
      <li>Glossary: {{word.gloss}} </li>
      <li> POS: {{word.pos}} </li>
      </ul> 
  </div>

</div>

<hr>


<div style="clear:left;" ng-bind-html="wword"></div>
<!-- <div ng-model = "words">
  {{words}}
    <span ng-repeat="word in words track by $index">{{word.word}} </span>
  </div>
  <div ng-model="words">
    <div ng-repeat="word in words track by $index" href="/natural/#{{word}}">
      <h1>Word: {{word.word}}</h1>

      <section ng-repeat="info in word.info">

        <ul>Sense : {{info.lemma}}
          <li> Definition :  {{info.def}}</li>
          <li> Glossary : {{info.gloss}}</li>
          <li> Part of Speech : {{info.pos}}</li>
          </ul>

      </section>
        </div>
    </div>
 -->