<span class = "section-title">{{section}}</span>
<input type= "text" ng-model="section">


<button ng-click="getit(section)">Get Section</button>

<button ng-click="wiki(wword)">Get Wiki</button>
<input type = "text" ng-model="wword">
<input type= "text" ng-model="wordy">
<button ng-click="wordget(wordy)">Get wordnet definition</button>
<br>
<br>
<hr>
<br>
<div ng-model="ind" class = "ind_section">
<p>
<span ng-repeat="item in ind track by $index">{{item}} </span>
</p>
</div>


<div ng-model="wordy" class = "wordies">
  <div ng-repeat="word in wordy.info track by $index">
    <ul><span style = "font-variant: small-caps; font-size: 1.2em;">Sense: {{word.lemma}} </span>
      <li>Definition: {{word.def}} </li>
      <li>Glossary: {{word.gloss}} </li>
      <li> POS: {{word.pos}} </li>
      </ul> 
  </div>

</div>

<hr>


<div style="clear:left;" ng-bind-html="wword"></div>
<!-- <div ng-model = "words">
  {{words}}
    <span ng-repeat="word in words track by $index">{{word.word}} </span>
  </div>
  <div ng-model="words">
    <div ng-repeat="word in words track by $index" href="/natural/#{{word}}">
      <h1>Word: {{word.word}}</h1>

      <section ng-repeat="info in word.info">

        <ul>Sense : {{info.lemma}}
          <li> Definition :  {{info.def}}</li>
          <li> Glossary : {{info.gloss}}</li>
          <li> Part of Speech : {{info.pos}}</li>
          </ul>

      </section>
        </div>
    </div>
 -->