<h2> Hegel's Phenomenology of Spirit </h2>
<h2> Section: {{section}}</h2>
<span class="helpblurb"> Press 'h' for help</span>
<span class="todoblurb"> Press 't' for To Do</span>

<div ng-model="ind" class = "ind_section">
  <p>
    <span ng-repeat="item in ind track by $index">{{item}} </span>
  </p>

<div style="clear:left;" ng-bind-html="wword"></div>

</div>
<div class = "findlay" ng-model="find">{{find}}</div>


<div ng-model="wordy" class = "wordies">
  <div ng-repeat="word in wordy.info track by $index">
    <ul><span style = "font-variant: small-caps; font-size: 1.2em;">Sense: {{word.lemma}} </span>
      <li>Definition: {{word.def}} </li>
      <li>Glossary: {{word.gloss}} </li>
      <li> POS: {{word.pos}} </li>
      </ul> 
  </div>
</div>

<div id = 'help' >
<p>Hello, (James or Eric),

Here's a demo. It's super buggy, but I'm working at it. 

<ul> In order to use this program: 

<li> Press 'f' to get the Findlay Notes for this section </li>
<li> Press 'e' to move to the next section </li>
<li>Press 'q' to move to the previous section  
(Throws errors if , larger than 110 or smaller than 90);</li>

<li>Press 'right arrow' to move to the next word.</li>
<li>Press 'left arrow' ... </li>

<li>Press 'w' to lookup the summary of the term on wikipedia.</li>
<li>Press 'a' to lookup some of the entries for the word on the Wordnet Database</li>
<li>Press 'x' to clear the selected word.</li>

<li>If you get a bug, press 'x' and then 'e' or 'q' to move to another section.</li>
</ul>
</p>
</div>

<div id="todo">
  <ul>
    <ol> SCRAPING
    <li> Pull out chapter headings</li>
    </ol>
    
    <ol> DATA STRUCTURE 
    <li> Reorganize data once we have chapters</li>
    </ol>

    <ol> DATABASE 
     <li> Add in Findlay</li>
     <li> Add in German </li>
     <li>
     </ol>

    <ol> UI 
     <li> Make it so you don't have to press the left and right arrows too much</li>
    </ol>

   
  </ul>
</div>