<h1> Hegel's Phenomenology of Spirit </h1>
<h2> Table of Contents </h2>
<div ng-model="toc.data">

	<section class = "chapter" ng-repeat="item in toc.data">
		
		<div class ="entry">
			<span class = "chapter title">{{item.title}}</span>
			<ul class = "chapter sections">
				<li class="toc chapter" ng-repeat="sections in item.subsections">{{sections}}</li> 
			</ul>
		</div>

			<div class="subchapter" ng-repeat="subchapter in item.subchapters"> 
				<span class = "subchapter title"> {{subchapter.title}} </span>
				


					<ul class = "subsect">
						<li class = "toc" ng-repeat="sect in subchapter.subsections">{{sect}}</li>
					</ul>
			</div>
	
	<div id="sectiontext" ng-model="sectiontext"> 
	<li ng-repeat="para in sectiontext"> <p><span class="word" ng-repeat="word in para track by $index">{{word}} </span></p></li>
	</div>

	</div>
</section>
